# Rebar3 build output
_build/
rebar.lock

# Erlang compiler artifacts
*.beam
ebin/
erl_crash.dump

# OS files (macOS)
.DS_Store

# Editor files
.vscode/
.idea/

# Logs
*.log

# Temporary files
*~
*.swp

# Shell history (optional)
*.erlang_history

*.crashdump